.title {
  margin-bottom: 2px;
<<<<<<< HEAD
=======
  //width: 70px;
>>>>>>> 402a2cf98bc5e1fb3d16767e94495d9686267b93
  margin-right: 5px;
}

.task__message {
  color: red;
  font-weight: bold;
  font-size: 12px;
}
