.header_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sidebar_container {
  border-top: 1px solid black;
}

.task_container {
  width: 100%;
  padding: 5px;
}

@media (min-width: 501px) {
  .sidebar_container {
    display: flex;
  }
}
